$color__background-body: #e6e6e6;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


/* Added Colors */
$color__header-bg: #fff;
$color__footer-bg: #fff;
$color__card-background: #fff;

$color__post-headline: #000;
$color__post-headline-hover: #999;
$color__quote: #fff;
$color__main-navigation: #24232b;
$color__site-hover: #b98822;
$color__site-header: #24232b;

$color__site-theme: #b98822;
$color__site-theme-hover: #24232b;
$color__footer-text: #636363;
$color__footer-social-media: #a9a9a9;
$color__footer-social-media-hover: #333;
